@use '../../assets/styles/Colors.scss' as colors;
@use '../../assets/styles/Fonts.scss' as fonts;
@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;

.header {
  z-index: 1000;
  margin: 32px 104px;

  @include breakpoints.respond-to-extra-large {
    margin: 32px 40px;
  }

  @include breakpoints.respond-to-medium {
    margin: 32px 16px;
  }

  &--scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .header__logo-link {
      color: colors.$dark-green-color;
    }
  }

  &__container {
    max-width: 1400px;
    margin: auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    z-index: 1001;
    text-align: center;
    transition: opacity 0.3s ease;

    &--hidden {
      @include breakpoints.respond-to-extra-large {
        opacity: 0;
        pointer-events: none;
      }
    }

    &-link {
      font-family: fonts.$font-primary;
      font-size: 24px;
      // color: colors.$beige-color;
      display: flex;
      flex-direction: column;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      // &:hover {
      //   color: rgba(colors.$beige-color, 0.9);
      // }
    }

    &-subtitle {
      font-size: 16px;
    }
  }

  &__menu-toggle {
    display: none;
    background: none;
    border: none;
    // color: colors.$beige-color;
    cursor: pointer;
    z-index: 1002;
    padding: 4px;

    @include breakpoints.respond-to-extra-large {
      display: block;
      position: absolute;
      right: 0;
    }

    .header--scrolled & {
      color: colors.$dark-green-color;
    }
  }

  &__menu-close {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1002;
    padding: 4px;
    color: colors.$dark-green-color;
  }

  &__nav-wrapper {
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 24px;

    @include breakpoints.respond-to-extra-large {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background-color: colors.$white-color;
      flex-direction: column;
      justify-content: center;
      // gap: 32px;
      transition: right 0.3s ease;
      padding: 32px;

      &--open {
        right: 0;
      }
    }
  }

  &__nav {
    @include breakpoints.respond-to-medium {
      width: 100%;
    }
  }

  &__nav-list {
    margin: 0;
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;

    @include breakpoints.respond-to-extra-large {
      flex-direction: column;
      align-items: center;
      // gap: 24px;
    }
  }

  &__nav-item {
    // margin-left: 24px;

    @include breakpoints.respond-to-medium {
      // margin-left: 0;
      width: 100%;
      text-align: center;
    }
  }

  &__nav-link {
    // color: colors.$beige-color;
    text-decoration: none;
    position: relative;
    // padding: 4px 0;
    transition: color 0.2s ease;
    // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      // background-color: colors.$beige-color;
      transition: width 0.2s ease;
    }

    &--active {
      // color: rgba(colors.$beige-color, 0.9);

      &:after {
        width: 100%;
      }
    }

    @include breakpoints.respond-to-extra-large {
      display: block;
      // padding: 8px;
      // font-size: 1.2rem;
      // color: colors.$dark-green-color;
      text-shadow: none;

      &:after {
        display: none;
      }

      // &:hover {
      //   color: colors.$green-color;
      // }

      // &--active {
      //   color: colors.$green-color;
      // }
    }
  }
}

.header-container {
  width: -webkit-fill-available;
  // display: flex;
  // justify-content: space-between;
}

.lucide-menu {
  color: colors.$dark-green-color;
}

.header__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.header__brand-name {
  font-family: 'Libre Baskerville', Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 1.2;
}

.header__brand-title {
  font-family: 'Montserrat', Helvetica;
  font-weight: 400;
  color: #111815;
  font-size: 16px;
  line-height: 1.5;
}
