@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;
@use '../../assets/styles/Colors.scss' as colors;

.approaches-section {
  &__container {
    max-width: 1400px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 1fr;             
  gap: 16px;

  @include breakpoints.respond-to-large {
    grid-template-columns: 1fr;       
    grid-template-rows: repeat(3, 1fr);  
  }

    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // align-items: stretch;
    // gap: 16px;

    // @include breakpoints.respond-to-medium {
    
    //     display: grid;
    //     grid-template-columns: 1fr repeat(4, 0);
    //     grid-template-rows: repeat(3, 1fr) repeat(2, 0);
    //     grid-column-gap: 0px;
    //     grid-row-gap: 0px;
    // }
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__card-header {
    height: 100%;
    // flex: 1;
    // min-height: 158px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    // align-items: center;
    // justify-content: center;
    border: 2px solid colors.$light-green-color;;
    // background-color: colors.$light-green-color;
    padding: 24px;

    @include breakpoints.respond-to-extra-large {
      justify-content: flex-start;
    }

    @include breakpoints.respond-to-large {
      padding: 16px;
    }
  }

  &__card-description {
    margin: 0;
  }
}

// Responsive
@media (max-width: 768px) {
  .approaches-section {
    &__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    // &__title {
    //   font-size: 2rem;
    //   margin-bottom: 30px;
    // }
  }
}

// .approaches-section {
//   display: flex;
//   flex-direction: column;
//   // align-items: center;
//   justify-content: center;

//   background-color: #fffbf7;
// }

// .approaches-section__container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 24px;
// }

// .approaches-section__grid {
//   display: flex;
//   // align-items: stretch;
//   gap: 40px;
//   width: 100%;
// }

// .approaches-section__card {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   gap: 24px;
// }

// .approaches-section__card-header {
//   background-color: #d2dbd2;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 24px;
//   flex: 1;
// }

// .approaches-section__card-description {
//   margin: 0;
// }
