@use '../../assets/styles/Colors.scss' as colors;

.section-title {
  // &--beige {
  //   color: colors.$beige-color;
  // }

  &--white {
    color: colors.$white-color;
  }

  &--dark-green {
    color: colors.$dark-green-color;
  }

  &--center {
    text-align: center;
  }
}
