@use '../../assets/styles/Colors.scss' as colors;
@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
 
  @media (max-width: 992px) {
    align-items: start;
  }

  &__content {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.experience-wrapper {
  display: flex;

  &--with-image {
    display: grid;
    gap: 24px;
    align-items: center;

    @media (max-width: 992px) {
      grid-template-columns: 1fr !important;
      // gap: 32px;
    }
  }

  &--image-left {
    grid-template-columns: 400px 1fr;

    @media (max-width: 1200px) {
      grid-template-columns: 350px 1fr;
    }

    @media (max-width: 992px) {
      .experience-image {
        order: 2;
      }
    }
  }

  &--image-right {
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 350px;
    }
  }
}

.experience-image {
  position: sticky;
  top: 100px;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    // border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    // @media (max-width: 992px) {
    //   height: 500px;

    //   margin: 0 auto;
    //   display: block;
    // }

    @media (max-width: 576px) {
      height: 400px;
    }
  }

  @media (max-width: 992px) {
    position: static;
    max-width: 100%;
    margin: 0 auto;
    width: -webkit-fill-available;
  }
}

.experience {
  background-color: colors.$white-color;
  // padding: 40px;
  position: relative;
  // max-width: 800px;
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    margin: 0;
    font-family: var(--font-title);
    font-size: 24px;
  }

  &__item {
    position: relative;
    // margin-bottom: 32px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 10px;
    //   left: 120px;
    //   width: 14px;
    //   height: 14px;
    //   border-radius: 50%;
    //   background-color: #c8a085;
    //   transform: translateX(-7px);
    //   z-index: 1;

    //   @media (max-width: 768px) {
    //     left: 90px;
    //   }

    //   @media (max-width: 576px) {
    //     left: 70px;
    //     width: 12px;
    //     height: 12px;
    //     transform: translateX(-6px);
    //   }
    // }
  }

  &__period {
    width: 100px;
    padding-right: 16px;
    font-weight: 500;
    text-align: right;
    color: #5b8371;
    position: relative;
    top: 8px;

    @media (max-width: 768px) {
      width: 70px;
    }

    @media (max-width: 576px) {
      width: 50px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    h3 {
      color: #2b6860;
    }
  }

  &__location {
    // margin-bottom: 4px;
    margin: 0;
  }

  &__description {
    color: #2b6860;
    line-height: 1.6;
  }
}
