// $light-brown-color: #b6805c;
// $green-color: #436053;

$beige-color: #fff6ea;
$dark-green-color: #2b6860;
$medium-green-color: #889e87;
$light-green-color: #b2baa3;
$very-light-green-color: #dad7c4;

$light-brown-color: #c8a085;
$green-color: #5b8371;
