// $light-brown-color: #b6805c;
// $green-color: #436053;

// $beige-color: #fff6ea;
// $dark-green-color: #2b6860;
// $medium-green-color: #889e87;
// $light-green-color: #b2baa3;
// $very-light-green-color: #dad7c4;

// $light-brown-color: #c8a085;
// $green-color: #5b8371;

$black-color: #131712;
$white-color: #fffbf5;
$dark-green-color: #4f5c4d;
$green-color: #8c9d89;
$medium-green-color: #b0bcae;
$light-green-color: #d2dbd2;
