@import './assets/styles/Colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: $beige-color;
  margin: 0 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  margin: 24px 0;
  color: $brown-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__principal-information {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__names {
      font-size: 32px;
      font-weight: 700;
    }
  }
  &__navigation-menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &__link {
      font-weight: 700;
    }
  }
}

.navigation-container {
  position: relative;

  &__hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 32px;
    cursor: pointer;

    &__bar {
      height: 3px;
      width: 100%;
      background-color: $brown-color;
    }
  }
  &__navigation-menu {
    position: absolute;
    top: 100%;
    right: 8px;
    z-index: 1000;
    width: 250px;

    &__list {
      list-style-type: none;
      padding: 0;
      text-align: end;

      &__item {
        margin-bottom: 16px;
        cursor: pointer;
      }
    }
  }
}

.footer {
  margin: 24px 0;
  text-align: center;
  color: $brown-color;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.main {
  margin: 88px 80px;
}

.presentation-container {
  display: flex;
  align-items: center;
  gap: 160px;

  &__photo-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &__photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    &__presentation {
      margin-bottom: 48px;
    }
  }
}

.practical-information {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  gap: 240px;

  &__item {
    display: flex;
    flex-direction: column;
    &__icon {
      color: $green-color;
      margin-bottom: 24px;
    }
  }
}

.button-appointment {
  background-color: $brown-color;
  color: $beige-color;
  border: none;
  border-radius: 90px;
  padding: 16px;
  font-weight: bold;
  display: flex;
  margin: auto;
}

.section-title {
  color: $brown-color;
  font-size: 40px;
  margin: 0 0 56px 0;
}

.consultation-information {
  display: flex;
  gap: 128px;
  margin-top: 160px;

  &__text {
    &__presentation {
      margin: 0 0 56px 0;

      p {
        margin-top: 0;
      }
    }
  }

  &__image-container {
    width: 450px;
    height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;

    &__image {
      width: 450px;
      height: 550px;
      object-fit: cover;
    }
  }
}

.duration-prices {
  margin-top: 144px;

  &__container {
    display: flex;
    justify-content: center;
    gap: 104px;

    &__block {
      position: relative;
      z-index: 1;

      &__item-block {
        text-align: center;
        width: 230px;
        height: 230px;
        background-color: $light-green-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        position: relative;
        z-index: 1;
        border-radius: 5px;

        &__title {
          margin-bottom: 24px;
          font-weight: bold;
          font-family: 'EB Garamond';
          font-size: 24px;
        }

        &__paragraph,
        &__paragraph__first,
        &__paragraph__second {
          margin: 0;
        }

        &__paragraph__first {
          margin-bottom: 8px;
        }
      }

      &__square {
        width: 230px;
        height: 230px;
        background-color: $green-color;
        position: absolute;
        z-index: 0;
        top: 16px;
        left: 16px;
        border-radius: 5px;
      }
    }
  }
}
