@import './mixins/breakpoints.scss';
@import './Colors.scss';
@import './Fonts.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $beige-color;
  font-family: 'Montserrat';
}

* {
  font-family: 'Montserrat';
}

h2 {
  font-family: 'Baskerville';
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  margin: 32px 40px 0 40px;
  color: $dark-green-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__principal-information {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__names {
      font-size: 32px;
      font-weight: 700;
      font-family: 'Baskerville';
      font-style: italic;
    }
  }

  &__navigation-menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &__link {
      font-weight: 700;

      @include respond-to-small {
        display: none;
      }
    }
  }
}

.navigation-container {
  position: relative;

  &__hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 32px;
    cursor: pointer;

    &__bar {
      height: 3px;
      width: 100%;
      color: $dark-green-color;
      background-color: $dark-green-color;
    }
  }

  &__navigation-menu {
    position: absolute;
    top: 100%;
    right: -40px;
    z-index: 1000;
    width: 250px;

    &__list {
      list-style-type: none;
      padding: 24px 16px 0 16px;
      text-align: end;
      background-color: $light-brown-color;
      color: white;
      font-weight: bold;

      &__item {
        padding-bottom: 24px;
        cursor: pointer;
      }
    }
  }
}

.footer {
  margin: 0 40px 32px 40px;
  text-align: center;
  color: $dark-green-color;

  @include respond-to-small {
    font-size: 8px;
  }
}

.main {
  margin: 96px 0;

  @include respond-to-small {
    margin: 56px 0;
  }
}

.page-introduction {
  font-family: 'Baskerville';
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: $green-color;
  margin: 0 0 88px 0;
  text-align: center;

  @include respond-to-small {
    margin: 0 80px 40px 80px;
  }
}

.section-title {
  color: $dark-green-color;
  font-size: 40px;
  margin: 0 0 56px 0;

  @include respond-to-small {
    margin: 0 0 40px 0;
  }
}

.subtitle {
  font-family: 'Baskerville';
  font-size: 24px;
  font-style: italic;
  color: $light-brown-color;
  margin: 0 0 40px 0;

  @include respond-to-small {
    margin: 0 0 24px 0;
  }
}

.button {
  background-color: $light-brown-color;
  color: white;
  border: none;
  border-radius: 90px;
  padding: 16px 24px;
  font-weight: bold;
  display: flex;
  margin: auto;
  width: fit-content;

  &__margin {
    margin-top: 80px;
  }
}

.vertical-line {
  border-left: 2px solid $light-brown-color;
  height: 240px;
  width: 0;
  display: flex;
  align-self: center;
}

.title-and-text {
  flex: 1;

  &__number {
    font-size: 32px;
    font-weight: bold;
    color: $green-color;
    font-family: 'Baskerville';
    display: block;
    margin-bottom: 8px;
  }

  &__title {
    font-family: 'Baskerville';
    font-size: 24px;
    margin: 0 0 16px 0;
    color: $green-color;
    min-height: 24px;
  }

  &__paragraph {
    @include respond-to-small {
      margin: 0;
    }
  }
}

.card {
  position: relative;

  &__item {
    text-align: center;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    z-index: 1;
    background-color: $light-brown-color;
    color: white;
    border-radius: 5px;

    @include respond-to-small {
      width: 192px;
      height: 192px;
      display: flex;
      gap: 16px;
    }

    &__title {
      margin-bottom: 24px;
      font-weight: bold;
      font-family: 'EB Garamond';
      font-size: 24px;

      @include respond-to-small {
        margin: 0;
        // margin-bottom: 16px;
      }
    }

    &__paragraph {
      white-space: pre-line;

      @include respond-to-small {
        margin: 0;
        // margin: 0 0 16px 0;
      }
    }
  }

  &__square {
    width: 230px;
    height: 230px;
    background-color: $green-color;
    position: absolute;
    z-index: 0;
    top: 16px;
    left: 16px;
    border-radius: 5px;

    @include respond-to-small {
      width: 192px;
      height: 192px;
    }
  }
}

.image-block-container {
  &__higher-version {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-top: 96px;

    @include respond-to-small {
      height: 320px;
      margin-top: 80px;
    }
  }

  &__smaller-version {
    width: 100%;
    height: 300px;
    object-fit: cover;

    &__margin-top {
      margin-top: 88px;
    }

    &__margins {
      margin: 88px 240px 0 240px;
      width: -webkit-fill-available;
    }
  }
}

.image-container {
  width: 400px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;

  @include respond-to-small {
    width: 100%;
    height: 592px;
    margin-top: 48px;
  }
}

.presentation-container {
  display: flex;
  align-items: center;
  gap: 104px;
  background-color: $green-color;
  color: white;
  padding: 120px 240px;

  @include respond-to-small {
    flex-direction: column;
    padding: 64px 80px;
    gap: 40px;
  }

  &__photo-container {
    width: 368px;
    height: 368px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @include respond-to-small {
      width: 312px;
      height: 312px;
    }

    &__photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 56px;

    &__presentation {
      &__title {
        font-style: italic;
        margin: 0 0 56px;

        @include respond-to-small {
          margin: 0 0 24px;
        }
      }

      &__paragraph {
        margin: 0;
      }
    }
  }
}

.practical-information {
  margin: 104px 120px 0 120px;
  display: flex;
  justify-content: center;
  gap: 240px;

  @include respond-to-small {
    margin: 56px 80px 0 80px;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    &__icon {
      color: $light-brown-color;
      margin-bottom: 24px;
    }
  }

  &__address {
    text-align: center;
  }
}

.duration-prices {
  margin: 120px 240px 0 240px;

  @include respond-to-small {
    margin: 80px 80px 0 80px;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 136px;

    @include respond-to-small {
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  }

  &__page-version {
    margin: 0 0 96px 0;
  }

  &__page-content {
    margin-top: 0;
  }

  &__page {
    margin: 80px 240px 96px 240px;

    @include respond-to-small {
      margin: 80px 0 0 0;
    }

    &__content {
      margin-top: 96px;
      display: flex;
      align-items: center;
      gap: 104px;

      @include respond-to-small {
        flex-direction: column;
        gap: 32px;
      }

      &__texts {
        @include respond-to-small {
          margin: 0 80px;
        }

        &__title {
          color: $light-brown-color;
          margin: 0 0 40px 0;
          font-family: 'Baskerville';
          font-style: italic;
          font-size: 24px;
        }

        &__list {
          list-style-type: none;
          padding: 0;
          margin: 0;

          &__item {
            margin-top: 32px;

            &__title {
              margin: 0 0 8px 0;
              font-family: 'Baskerville';
              font-size: 24px;
              color: $green-color;
            }

            &__duration {
              margin: 0 0 24px 0;
              font-weight: bold;
            }

            &__paragraph {
              margin: 0;
            }
          }
        }
      }
    }

    &__price-information {
      margin-top: 80px;

      @include respond-to-small {
        margin: 48px 80px 0 80px;
      }

      &__blocks {
        display: flex;
        align-items: center;
        text-align: center;

        @include respond-to-small {
          flex-direction: column;
          gap: 24px;
        }
      }

      &__important-point {
        text-align: center;
        font-style: italic;
        margin: 24px 0 0 0;
      }
    }
  }
}

.consultation-information {
  display: flex;
  gap: 104px;
  margin: 136px 240px 0 240px;

  @include respond-to-small {
    margin: 80px 0 0 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__text {
    @include respond-to-small {
      margin: 0 80px 0 80px;
    }

    &__presentation {
      margin: 0 0 56px 0;

      @include respond-to-small {
        margin: 0 0 32px 0;
      }

      &__paragraph,
      &__second-paragraph {
        margin-top: 0;
      }

      &__second-paragraph {
        @include respond-to-small {
          display: none;
        }
      }
    }
  }

  &__page {
    display: flex;
    margin: 80px 240px 96px 240px;
    flex-direction: column;

    @include respond-to-small {
      margin: 56px 0 96px 0;
    }

    &__content {
      &__welcomed-profiles {
        display: flex;
        align-items: center;
        gap: 104px;

        @include respond-to-small {
          flex-direction: column;
          gap: 0;
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 32px;
          margin: 0 80px;

          &__text-block {
            &__paragraph {
              margin: 0;
            }
          }
        }
      }
    }

    &__first-session {
      margin-top: 96px;

      @include respond-to-small {
        margin: 56px 80px 0 80px;
      }

      &__blocks {
        display: flex;
        flex-direction: row;
        gap: 80px;
        text-align: center;

        @include respond-to-small {
          flex-direction: column;
          gap: 32px;
        }
      }
    }

    &__personalized-assessment {
      display: flex;
      gap: 104px;
      align-items: center;
      margin-top: 96px;
      flex-direction: column;

      @include respond-to-small {
        gap: 48px;
        margin-top: 0;
      }

      &__content {
        &__texts {
          display: flex;
          flex-direction: column;

          @include respond-to-small {
            margin: 0 80px 0 80px;
          }

          &__title {
            color: $light-brown-color;
            margin: 0 0 40px 0;
            font-family: 'Baskerville';
            font-style: italic;
            font-size: 24px;
          }

          &__paragraph {
            margin: 0 0 16px 0;
          }
        }
      }
    }

    &__therapeutic-approaches {
      margin-top: 96px;

      @include respond-to-small {
        margin: 56px 80px 0 80px;
      }

      &__blocks {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }

    &__troubles {
      margin-top: 96px;

      @include respond-to-small {
        margin: 56px 80px 0 80px;
      }
    }

    &__conclusion {
      margin-top: 96px;

      @include respond-to-small {
        margin: 80px 80px 0 80px;
      }

      &__paragraph {
        margin: 0 0 32px 0;
        font-family: 'Baskerville';
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
      }
    }
  }
}

.frequently-asked-questions {
  margin: 96px 240px 0 240px;

  &__content-container {
    display: flex;
    align-items: center;
    gap: 104px;

    @include respond-to-small {
      flex-direction: column;
    }

    &__item {
      @include respond-to-small {
        margin: 0 80px;
      }

      &__elements-block {
        &__icon-question {
          display: flex;
          gap: 16px;
          align-items: center;
          margin-bottom: 16px;

          &__icon {
            color: $light-brown-color;
            cursor: pointer;
            text-align: left;
          }
        }

        &__answer {
          margin-bottom: 16px;
        }

        &__answer--visible {
          max-height: 500px;
        }
      }
    }

    &__image-wrapper {
      @include respond-to-small {
        display: none;
      }
    }
  }

  &__page-version {
    margin: 0;
  }

  &__homepage-version {
    @include respond-to-small {
      display: none;
    }
  }

  &__page-content {
    margin: 80px 240px 96px 240px;

    @include respond-to-small {
      margin: 80px 0 96px 0;
    }

    &__paragraph {
      font-family: 'Baskerville';
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      margin: 80px 0 0 0;

      @include respond-to-small {
        margin: 40px 80px 0 80px;
      }
    }
  }
}

.education-and-experience {
  margin: 96px 240px 0 240px;

  &__page-content {
    margin: 0 0 80px 0;
  }

  &__page-version {
    margin: 80px 240px 96px 240px;

    @include respond-to-small {
      margin: 80px 0 96px 0;
    }
  }

  &__not-displayed {
    @include respond-to-small {
      display: none;
    }
  }
}

.education-container,
.experience-container {
  padding: 0;
  margin: 0;

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;

    &__item {
      list-style-type: none;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      &__degree,
      &__experience {
        &__name {
          font-weight: bold;
          margin-bottom: 8px;
        }
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 104px;
  }
}

.education-container {
  &__content {
    flex-direction: row-reverse;
  }
}

.experience-container {
  &__content {
    margin-bottom: 80px;
  }
}
