@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;
@use '../../assets/styles/Colors.scss' as colors;

.services-section {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &--all-padding-version {
    padding: 80px 104px;

    @include breakpoints.respond-to-extra-large {
      padding: 64px 40px;
    }

    @include breakpoints.respond-to-medium {
      padding: 48px 16px;
    }
  }

  &--padding-top-version {
    padding: 80px 104px 0 104px;

    @include breakpoints.respond-to-extra-large {
      padding: 64px 40px 0 40px;
    }

    @include breakpoints.respond-to-medium {
      padding: 48px 16px 0 16px;
    }
  }

  &--padding-bottom-version {
    padding: 0 104px 80px 104px;

    @include breakpoints.respond-to-extra-large {
      padding: 0 40px 64px 40px;
    }

    @include breakpoints.respond-to-medium {
      padding: 0 16px 48px 16px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1400px;
    margin: auto;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @include breakpoints.respond-to-large {
    grid-template-columns: 1fr;
  }
}

.service {
  // background-color: white;
  // background-color: colors.$medium-green-color;
  background-color: colors.$light-green-color;
  padding: 40px;
  // border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // text-align: center;
  gap: 32px;

  @include breakpoints.respond-to-medium {
    padding: 16px;
  }
 
  &__description {
    // line-height: 1.6;
    margin: 0;
    flex-grow: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
