@use '../../assets/styles/Colors.scss' as colors;
@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;

.hero-banner {
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  color: white;

  overflow: hidden;

  @include breakpoints.respond-to-extra-large {
    height: 700px;
  }

  @include breakpoints.respond-to-large {
    height: 600px;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(rgba(43, 104, 96, 0.4), rgba(43, 104, 96, 0.6));
  }

  &__content {
    background-color: colors.$white-color;
    position: relative;
    z-index: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 800px;

    padding: 40px;

    margin: 0 auto;

    // margin: 0 104px;

    // @include breakpoints.respond-to-extra-large {
    //   margin: 0 40px;
    // }

    @include breakpoints.respond-to-large {
      margin: 0 40px;
      width: 100%;
    }

    @include breakpoints.respond-to-medium {
      margin: 0 16px;
    }

    &__first-information {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__title {
    // margin-bottom: 24px;
    // color: colors.$beige-color;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__subtitle {
    color: colors.$black-color;
    margin-bottom: 32px;
    margin: 0;
  }

  &__buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}

.container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
}
