@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;

.pricing-table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 104px;

  @include breakpoints.respond-to-extra-large {
    padding: 4rem 40px;
  }

  @include breakpoints.respond-to-medium {
    padding: 2rem 16px;
  }
}

.pricing-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
  background-color: white;

  &__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-bottom: 1px solid rgba(#b2baa3, 0.2);

    &:last-child {
      border-bottom: none;
    }

    @media (max-width: 767px) {
      display: block;
      margin-bottom: 1rem;
      border-radius: 8px;
      border: 1px solid rgba(#b2baa3, 0.2);

      &:last-child {
        margin-bottom: 0;
      }

      &--header {
        display: none;
      }
    }

    &--header {
      background-color: #2b6860;
      color: white;
      font-weight: 600;
    }
  }

  &__cell {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
      padding: 1rem;

      &:first-child {
        background-color: #2b6860;
        color: white;
        padding: 1rem;

        h3 {
          color: white;
          // font-size: 1.2rem;
          // margin-bottom: 0.5rem;
        }

        p {
          color: rgba(white, 0.9);
        }
      }

      &:not(:first-child) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        border-top: 1px solid rgba(#b2baa3, 0.2);

        &::before {
          content: attr(data-label);
          font-weight: 500;
          color: #2b6860;
          margin-right: 1rem;
        }
      }
    }

    p {
      margin: 0;
    }
  }
}
