@use '../../assets/styles/Colors.scss' as colors;
@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;

.duration-and-prices {
  display: flex;
  flex-direction: column;
  width: 100%;
  // align-items: center;
  gap: 24px;
  // padding: 0 0 120px;
  background-color: colors.$dark-green-color;

  &__title {
    color: colors.$white-color;
  }

  &__container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

// .duration-and-prices__title {
//   font-size: 56px;
//   font-family: 'Libre Baskerville', Helvetica;
//   font-weight: 400;
//   color: #111815;
//   text-align: center;
//   letter-spacing: -1.68px;
//   line-height: 1.2;
//   margin-bottom: 120px;
// }

.duration-and-prices__pricing-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 16px;
  // padding: 120px 152px 180px;
  width: 100%;
  // background-color: colors.$dark-green-color;
  // margin: 0 -152px;
}

.duration-and-prices__pricing-cards {
  display: flex;
  // align-items: flex-end;
  justify-content: center;
  // gap: 80px;
  gap: 16px;
  width: 100%;

  // @include breakpoints.respond-to-medium {
  //   padding: 48px 16px;
  // }
}

.duration-and-prices__pricing-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  padding: 40px;
  flex: 1;
  background-color: #fffbf7;
  border: none;

  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

   
}

.duration-and-prices__card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
  width: 100%;
}

// .duration-and-prices__card-title {
//   font-family: 'Libre Baskerville', Helvetica;
//   font-weight: 400;
//   color: #000000;
//   font-size: 24px;
//   line-height: 1.2;
//   width: 100%;
// }

.duration-and-prices__card-duration {
  // width: 100%;
  // color: #000000;
  // font-family: 'Montserrat', Helvetica;
  // font-weight: 300;
  // // font-size: 16px;
  // line-height: 1.5;
  margin: 0;
}

.duration-and-prices__card-price {
  font-family: 'Montserrat', Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
}

.duration-and-prices__payment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 40px;
  background-color: colors.$white-color;
  width: fit-content;
}

.duration-and-prices__payment-title {
  font-size: 32px;
  font-family: 'Libre Baskerville', Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: -0.96px;
  line-height: 1.2;
}

.duration-and-prices__payment-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // gap: 32px;
  gap: 16px;
}

.duration-and-prices__payment-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.duration-and-prices__payment-item-title {
  font-family: var(--font-title);

  font-size: 24px;
  // font-weight: 400;
  // color: #000000;
  // font-size: 24px;
  // line-height: 1.2;
  margin: 0;
}

.duration-and-prices__payment-item-description {
  // font-family: 'Montserrat', Helvetica;
  // font-weight: 300;
  // color: #000000;
  // font-size: 16px;
  // line-height: 1.5;
  margin: 0;
}

.duration-and-prices__payment-item-description--wide {
  width: 306px;
}

.duration-and-prices__payment-item-description--full {
  width: 100%;
}

// @media (max-width: 1400px) {
//   .duration-and-prices__pricing-container {
//     padding: 120px 80px 180px;
//     margin: 0 -80px;
//   }
// }

// @media (max-width: 1200px) {
//   .duration-and-prices__pricing-container {
//     padding: 80px 48px 140px;
//     margin: 0 -48px;
//   }
// }

@media (max-width: 992px) {
  

  .duration-and-prices__pricing-cards {
    flex-direction: column;
    // align-items: center;
    // gap: 32px;
  }

  .duration-and-prices__container {
    width: 100%;
  }

  .duration-and-prices__pricing-card {
    width: 100%;
    // max-width: 400px;
    height: -webkit-fill-available;
    padding: 16px;
  }

  .duration-and-prices__payment-info {
    width: 100%;
    // max-width: 600px;
    padding: 16px;
  }
}

@media (max-width: 767px) {
  // .duration-and-prices__title {
  //   font-size: 32px;
  //   letter-spacing: -0.96px;
  // }

  // .duration-and-prices__pricing-container {
  //   padding: 48px 24px 80px;
  //   margin: 0 -24px;
  // }

  .duration-and-prices__pricing-card {
    padding: 24px;
  }

  .duration-and-prices__payment-info {
    padding: 24px;
    gap: 24px;
  }

  .duration-and-prices__payment-items {
    gap: 24px;
  }

  .duration-and-prices__payment-item-description--wide {
    width: 100%;
  }
}

// @media (max-width: 576px) {
//   // .duration-and-prices__title {
//   //   font-size: 28px;
//   //   letter-spacing: -0.84px;
//   // }

//   .duration-and-prices__pricing-container {
//     padding: 32px 16px 64px;
//     margin: 0 -16px;
//   }
// }
