@use '../../assets/styles/Colors.scss' as colors;
@use '../../assets/styles/mixins/breakpoints.scss' as breakpoints;

.education-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 992px) {
    align-items: start;
  }

  &__content {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

.education-wrapper {
  &--with-image {
    display: grid;
    gap: 24px;
    align-items: start;

    @media (max-width: 992px) {
      grid-template-columns: 1fr !important;
      gap: 24px;
    }
  }

  &--image-left {
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 1200px) {
      grid-template-columns: 350px 1fr;
    }

    @media (max-width: 992px) {
      .education-image {
        order: 2;
      }
    }
  }

  &--image-right {
    grid-template-columns: 1fr 400px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 350px;
    }
  }
}

.education-image {
  position: sticky;
  top: 100px;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    @media (max-width: 576px) {
      height: 400px;
    }
  }

  @media (max-width: 992px) {
    position: static;
    max-width: 100%;
    margin: 0 auto;
    width: -webkit-fill-available;
  }
}

.education {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 992px) {
   margin: 0;
   width: 100%;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    position: relative;
    // margin-bottom: 32px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__date {
    width: 100px;
    padding-right: 16px;
    font-weight: 500;
    text-align: right;
    color: #5b8371;
    position: relative;
    top: 8px;

    @media (max-width: 768px) {
      width: 70px;
    }

    @media (max-width: 576px) {
      width: 50px;
    }
  }

  &__degree {
    margin: 0;
    font-family: var(--font-title);
    font-size: 24px;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      margin-bottom: 4px;
      color: #2b6860;
    }
  }

  &__institution {
    margin: 0;
  }

  &__description {
    color: #2b6860;
    line-height: 1.6;
  }
}
